/* Fuente de google */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* Letra para todo el documento */
    font-family: "Montserrat", serif;
    color: black;
}

html { 
    scrollbar-width: none;
}

body {
    background-color: black;
    background: url("../images/fondos/flores.jpg");
    background-size: cover;
}

h1 { 
    font-weight: 300;
    padding: 0.5rem;
}