.footer {
    padding: 10px 20px;
    /* position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */


    width: 100%;
    height: 7rem;

    text-align: center;
}

.desarrollo {
    padding: 0.5rem;
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.menu_footer a,
span {
    text-decoration: none;
    color: white;
    margin-right: 3rem;
    padding: 0.5rem;
}

.menu_footer {
    margin-top: 1rem;
}

.desarrollo a {
    text-decoration: none;
    color: violet;
}